#title {
  background-color: #ff4c68;
}
.container-fluid {
  padding: 3% 15%;
}
.banner-h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

.btn-outline-secondary {
  border-color: white;
  color: white;
}

.btn-outline-secondary:hover {
  border-color: white;
  background-color: white;
  color: #ff4c68;
}

.btn-secondary {
  background-color: black;
  color: white;
}